* {
	background: #fffacc !important;
	color: #000 !important;
	line-height: 1.8 !important;
	font-family: 'Comic Sans', sans-serif, monospace !important;
	font-size: 18px !important;
}

img {
	-webkit-filter: contrast(140%);
}

a {
	color: rgb(0,0,130) !important;
	font-weight: 800;
}

*::selection {
	background: rgba(102,153,238,0.5) !important;
}

* {
	letter-spacing: 1px;
	word-spacing: 3px;
}

i, em {
	font-style: bold;
}