address, article, aside, blockquote, canvas, cite, dd, div, dl, fieldset, figcaption, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, li, main, nav, noscript, ol, output, p, pre, section, table, tfoot, ul, video, body {

	/*
		"Optimal Colors to Improve Readability for People with Dyslexia"
		Luz Rello, & Ricardo Baeza-Yates, Pompeu Fabra University
		https://www.w3.org/WAI/RD/2012/text-customization/r11
	*/
	background: #ff0 !important;
	color: #000 !important;

	/*
		"Dyslexia Style Guide"
		British Dyslexia Association
		http://www.bdadyslexia.org.uk/common/ckeditor/filemanager/userfiles/About_Us/policies/Dyslexia_Style_Guide.pdf
	*/
	font-size: 18px !important;
	line-height: 30px !important;
	letter-spacing: 1px !important;
	font-family: "Arial", sans-serif !important;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}
h1 {
	font-size: 140% !important;
}
h2 {
	font-size: 125% !important;
}
h3 {
	font-size: 120% !important;
}
h4 {
	font-size: 115% !important;
}
h4 {
	font-size: 110% !important;
}
h6 {
	font-size: 105% !important;
}

a {
	font-weight: bold;
	color: #000 !important;
}

.readingMode {
	position: fixed;
	z-index: 999999;
	right: 20px;
	top: 20px;
	background: black;
	outline: none;
	border: none;
	color: white;
	font-size: 99%;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}