body {
	background: #fffacc;
	color: #000;
	line-height: 1.8;
	font-family: 'Comic Sans', sans-serif, monospace;
	font-size: 1.2rem;
}

main {
	width: 900px;
	margin: 5% auto;
}

main {
	letter-spacing: 1px;
	word-spacing: 5px;
}

i, em {
	font-style: bold;
}